$breakpoint-mobile: 400px;
$breakpoint-ipad: 769px;

$primary-color: #ECECEC;
$secondary-color: #8C5EF9;
$third-color: #E38D02;
$fourth-color: #851d19;
$fifth-color: #482a05;
$sixth-color: #bb491c;

$facebook-color: #3b5998;
$twitter-color: #00acee;
