.header {
    width: 86%;
    @include mobile-version {
        width: 90%;
    }
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__logo {
        width: 30%;
        background-color: $primary-color;
        @include borderFourth;
        border-radius: 30px;
        @include btn-shadow;
        @include tablette-version {
            width: 60%;
        }
        div {
            margin: .5rem 1rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__panier {
        width: 12rem;
        height: 4rem;
        @include borderFourth;
        background-color: $primary-color;
        border-radius: 40px;
        @include btn-shadow;
        @include mobile-version {
            width: 6rem;
            height: 2rem;
        }
        
        a {
            width: 80%;
            height: 100%;
            color: $fourth-color;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
        }
        &__logo {
            div::before {
                @include icon($content: "\f291", $font-size: 2.2rem);
            }
        }
    }
}

.retour-accueil {
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2::before {
        @include icon("\f04a", 1.5rem);
        margin-right: .5rem;
    }
}