.product {
    @include flex-column;
    border: solid red;
    &__card {
        @include flex-column;
        border-radius: 40px;
        width: 90%;
        max-width: 66rem;
        margin-bottom: 2rem;
        @include borderThird;
        &__image {
            width: 50%;
            overflow: hidden;
            margin: 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__description {
            ul {
                margin-top: 0;
                &::before {
                    margin-left: 1rem;
                    @include icon;
                }
                & > li {
                    margin-left: 1rem;
                    display: none;
                }
                &:active > li {
                    display: flex;
                }
            }
        }
    }
}