.main-section {
    width: 80%;
    @include tablette-version {
        width: 94%;
    }
    margin: 0 auto;
}
.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    &__card {
        @include product-cards;
        &__image {
            border-radius: 30px;
            width: 18rem;
            height: 18rem;
            margin-left: 1rem;
            @include btn-shadow;
        }
        h2 {
            text-align: center;
        }
        div {
            @include btn-shadow;
            &:hover {
                box-shadow: 14px 14px 30px;
            }
            p {
                margin: 1rem;
                &:nth-child(5){
                    text-align: right;
                }
            }
            ul::before {
                margin-left: 1rem;
                @include icon;
            }
            ul > li {
                margin-left: 1rem;
                display: none;
            }
            ul:hover > li {
                display: flex;
            }
        }
    }
}