body {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: $primary-color;
}

main {
    width: 80%;  
    margin: 0 auto;
    @include mobile-version {
        width: 90%;
    }
}

ul {
    padding-left: 0;
}