.main-section {
    width: 90%;
    @include tablette-version {
        width: 100%;
    }
    margin: 0 auto;
}
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid $third-color 2px;
    padding-bottom: 2rem;
    a {
        display: block;
        margin: 0;
    }
    &__card {
        @include product-cards;
        &__image {
            width: 50%;
            height: 80%;
            margin: 2rem;
            @include borderThird;
            border-radius: 20px;
            overflow: hidden;
            @include tablette-version {
                margin: 1rem;
            }
            @include mobile-version {
                margin: auto .7rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h2 {
            text-align: center;
        }
        &__description {
            width: 30%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            h2 {
                font-size: 1.8rem;
                @include mobile-version {
                    font-size: 1.2rem;
                }
            }
            p {
                text-align: right;
                bottom: 1rem;
            }
        }
    }
}