.panier-resume {
    width: 90%;
    background-color: $fifth-color;
    color: white;
    text-shadow: 2px 2px 4px black;
    max-width: 55rem;
    margin: 3rem auto;
    @include flex-column;
    @include borderThird;
    border-radius: 20px;
    &__article {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        border-top: solid $third-color 1px;
        p:nth-child(3) {
            font-family: 'Raleway-bold';
        }
        &__image {
            align-self: center;
            width: 10rem;
            height: 10rem;
            margin-right: 1rem;
            @include tablette-version {
                width: 8rem;
                height: 8rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__details {
            flex: 1;
            margin: 1rem;
            p {
                font-size: 1.1rem;
            }
            @include mobile-version {
                display: flex;
                flex-wrap: wrap;
            }
            div:nth-child(2) {
                margin-bottom: 1rem;
            }
        }
        @include mobile-version {
            flex-direction: column;
            align-items: center;
        }
    }
    &__quantite input {
        width: 2rem;
    }
    &__supprimer {
        background-color: $third-color;
        @include btn-shadow;
        color: white;
        @include borderRadius;
        width: 7rem;
        height: 2rem;
        @include flexCenter;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include mobile-version {
            margin: 0 auto;
        }
        p {
            margin: 0 auto .2rem;
        }
    }
}

.panier-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid black;
    width: 60%;
    max-width: 32rem;
    margin: 3rem auto;
    padding-bottom: 2rem;
    @include tablette-version {
        width: 80%;
    }
    @include mobile-version {
        width: 100%;
    }
    background-color: white;
    div {
        width: 80%;
        margin-top: 1rem;
        margin-left: 2rem;
        display: flex;
        &:nth-child(6) {
            justify-content: center;
            margin-top: 2rem;
        }
        label {
            width: 7rem;
        }
        input {
            display: block;
            width: 80%;
            &:nth-child(1) {
                width: 10rem;
                @include borderRadius;
                margin-left: 7rem;
            }
        }
    }
}