.product {
    @include flex-column;
    &__card {
        position: relative;
        @include flex-column;
        border-radius: 40px;
        width: 90%;
        max-width: 66rem;
        margin-bottom: 2rem;
        @include borderThird;
        @include tablette-version {
            width: 100%;
        }
        @include mobile-version {
            border: none;
        }
        &__image {
            width: 50%;
            @include borderFourth;
            @include btn-shadow;
            border-radius: 30px;
            overflow: hidden;
            margin: 4rem auto 2rem auto;
            @include mobile-version {
                width: 80%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__description {
            width: 80%;
            p {
                font-size: 1.5rem;
                @include tablette-version {
                    text-align: justify;
                }
                @include mobile-version {
                    font-size: 1.2rem;
                }
                &:nth-child(4) {
                    text-align: right;
                }
            }
            ul {
                margin-top: 0;
                &::before {
                    margin-left: 1rem;
                    @include icon;
                }
                & > li {
                    margin-left: 1rem;
                    display: none;
                }
                &:active > li {
                    display: flex;
                }
            }
        }
    }
}

.add-cart {
    position: absolute;
    @include position(2rem, 2rem);
    @include mobile-version {
        @include position(.5rem, 1.6rem);
    }
    @include flexCenter;
    &__icon {
        &::after {
            @include icon('\f291', 2.2rem);
            @include tablette-version {
                font-size: 1.8rem;
            }
        }
        &::before {
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease-in-out 0.2s;
            font-family: sans-serif !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-shadow: none !important;
            font-size: .8rem !important;
            background: rgba(33,37,41,0.9);
            border-radius: 4px;
            color: #fff;
            content: "ajouter au panier";
            padding: .5em 1em;
            position: absolute;
            @include position(-2rem, -2rem);
            white-space: nowrap;
            z-index: 10;
            @include tablette-version {
                display: none;
            }
        }
        &:hover::before {
            opacity: .8;
        }
        
    }
}